.bg__photo-page {  
    display:grid; 
    grid-template-columns: 25% 25% 25% 25%; 
    grid-template-rows: 600px 500px;
}

.photo__comments { 
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.photo__misc { 
    grid-area: misc;
    background-color: rgb(226, 226, 226);
}

.photo__first-half {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(53, 51, 51); 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.photo__container {
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
}

.img__container {
    height: 460px;
    width: 680px; 
    box-shadow: 10px 5px 15px rgb(0, 0, 0, 0.6);
    border: black 1px solid; 
    border-radius: 3px; 
}

