.bg__photo-page {  
    display:grid; 
    grid-template-columns: 25% 25% 25% 25%; 
    grid-template-rows: 600px 500px;
}

.photo__comments { 
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.photo__first-half {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(53, 51, 51); 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.photo__container {
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
}

.img__container {
    height: 460px;
    width: 680px; 
    box-shadow: 10px 5px 15px rgb(0, 0, 0, 0.6);
    border: black 1px solid; 
    border-radius: 3px; 
}


.misc__container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2; 
    position: relative; 
}

.misc__container-date {
    position: absolute;
    left: 150px; 
    font-size: 18px;
    font-weight: bold;
    font-family: 'Robot', sans-serif;
}

.tag__container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2; 
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute; 
    top: 100px; 
    padding-right: 50px;
    font-family: Arial;
    font-size: 18px; 
    margin-left: 50px;
}

.heading {
    font-family: 'Acme';
    font-weight: bold;
    font-size: 22px; 
    padding-right: 3px;
}

.tag__tags {
    display: block; 
    border: 1px black solid; 
    border-radius: 5px;
    padding: 5px;
    font-family: Arial;
    background-color: rgb(189, 178, 178);
}
