@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Roboto:wght@300&display=swap');

.searchpage__container {
    display: grid; 
    grid-template-columns: 5% 96%;
    background: rgba(173, 216, 230, 0.397);
    overflow-x: hidden;
}

.photoSearch__container {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0px;
}

.searchPage__noresults {
    width: 95vw; 
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: 'Robot', sans-serif;
    font-size: 24px;
}